In [ ]:
# Import Dependencies
import pandas as pd

In [ ]:
# Read CSV file
dinosaur_path = "Resources/dinosaurs_data.csv"
dinosaurs_df = pd.read_csv(dinosaur_path)
dinosaurs_df.head()

In [ ]:
# Show all column names
dinosaurs_df.columns

In [ ]:
# Create df with columns that we need
dino_df = dinosaurs_df[['specimen_no', 'specimen_id', 'specimen_part', 'accepted_name', 'phylum', 'class', 'family', 'genus', 'lng', 'lat', 'cc', 'state']]

In [ ]:
# Drop all NaN's
dino_df.dropna(how='any', inplace = True)

In [ ]:
# Drop all duplicates, if exist
dino_df.drop_duplicates(inplace = True)
dino_df

In [ ]:
# Rename columns
dino_df = dino_df.rename(columns={'accepted_name': 'specimen_name', 'cc': 'country', 'phylum': 'specimen_phylum', 'class': 'specimen_class', 'family': 'specimen_family', 'genus': 'specimen_genus'})

In [ ]:
dino_df.columns

In [ ]:
# Show all unique names in row
dino_df['specimen_phylum'].unique()

In [ ]:
# Show all unique names in row
dino_df['specimen_part'].unique()

In [ ]:
# Show all unique names in row
dino_df['specimen_name'].unique()

In [ ]:
#Show all unique names in row
dino_df['specimen_class'].unique()

In [ ]:
#Show all unique names in row 
dino_df['specimen_family'].unique()

In [ ]:
dino_df = dino_df[dino_df.specimen_family != "NO_FAMILY_SPECIFIED"]

In [ ]:
dino_df['specimen_family'].unique()

In [ ]:
dino_df

In [ ]:
# Delete ? from 'ulna' part in one row
dino_df['specimen_part'] = dino_df['specimen_part'].replace({'? ulna': 'ulna'})
dino_df['specimen_part'].unique()

In [ ]:
# Checking data types to create a database according to that
dino_df.dtypes

In [ ]:
# Checking unique numbers to use it as a primary key for database
dino_df['specimen_no'].nunique()

In [ ]:
# Creating connection with database, run it only after creating database in sql
from sqlalchemy import create_engine

In [ ]:
# import info from config document
from config import user, password, host, port

In [ ]:
# connecting to database
db = 'dino_db'
rds_connection_string = f"{user}:{password}@{host}:{port}/{db}"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# looking at tables in db
engine.table_names()

In [ ]:
# loading df to db
dino_df.to_sql(name='dinosaur_fossils', con=engine, if_exists='append', index=False)

In [ ]:
# reading loaded db
pd.read_sql_query('select * from dinosaur_fossils', con=engine).head()