In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Read CSV file
dinosaur_path = "Resources/dinosaurs_data.csv"
dinosaurs_df = pd.read_csv(dinosaur_path)
dinosaurs_df.head()

,specimen_no,record_type,flags,occurrence_no,reid_no,collection_no,specimen_id,is_type,specelt_no,specimen_side,...,geogcomments,research_group,authorizer_no,enterer_no,modifier_no,authorizer,enterer,modifier,created,modified
0,18592,spm,NaN,485130,0,48570,ANSP 9995,holotype,NaN,right,...,"West Jersey Marl Company's Pit, about 2 miles ...",vertebrate,4,4,4,J. Alroy,J. Alroy,J. Alroy,2010-12-06 19:33:38,2010-12-16 16:53:51
1,18593,spm,NaN,485130,0,48570,ANSP 9995,holotype,NaN,right,...,"West Jersey Marl Company's Pit, about 2 miles ...",vertebrate,4,4,4,J. Alroy,J. Alroy,J. Alroy,2010-12-06 19:33:38,2010-12-16 16:53:57
2,18594,spm,NaN,536124,13789,22648,AMNH 587,NaN,NaN,NaN,...,coordinates from K. Carpenter (pers. comm. to ...,vertebrate,4,4,0,J. Alroy,J. Alroy,NaN,2010-12-06 19:35:31,2010-12-06 02:35:31
3,18595,spm,NaN,536124,13789,22648,AMNH 587,NaN,NaN,NaN,...,coordinates from K. Carpenter (pers. comm. to ...,vertebrate,4,4,0,J. Alroy,J. Alroy,NaN,2010-12-06 19:35:31,2010-12-06 02:35:31
4,18596,spm,NaN,536124,13789,22648,AMNH 587,NaN,NaN,NaN,...,coordinates from K. Carpenter (pers. comm. to ...,vertebrate,4,4,0,J. Alroy,J. Alroy,NaN,2010-12-06 19:35:31,2010-12-06 02:35:31

In [3]:
# Show all column names
dinosaurs_df.columns

Index(['specimen_no', 'record_type', 'flags', 'occurrence_no', 'reid_no',
       'collection_no', 'specimen_id', 'is_type', 'specelt_no',
       'specimen_side', 'specimen_part', 'specimen_sex', 'n_measured',
       'measurement_source', 'magnification', 'comments', 'accepted_name',
       'accepted_rank', 'accepted_no', 'max_ma', 'min_ma', 'ref_author',
       'ref_pubyr', 'reference_no', 'phylum', 'class', 'order', 'family',
       'genus', 'lng', 'lat', 'cc', 'state', 'county', 'latlng_basis',
       'latlng_precision', 'geogscale', 'geogcomments', 'research_group',
       'authorizer_no', 'enterer_no', 'modifier_no', 'authorizer', 'enterer',
       'modifier', 'created', 'modified'],
      dtype='object')

In [4]:
# Create df with columns that we need
dino_df = dinosaurs_df[['specimen_no', 'specimen_id', 'specimen_part', 'accepted_name', 'class', 'order', 'family', 'genus', 'lng', 'lat', 'cc', 'state']]

In [5]:
# Drop all NaN's
dino_df.dropna(how='any', inplace = True)

C:\Users\fkmaa\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
# Drop all duplicates, if exist
dino_df.drop_duplicates(inplace = True)
dino_df

C:\Users\fkmaa\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,specimen_no,specimen_id,specimen_part,accepted_name,class,order,family,genus,lng,lat,cc,state
0,18592,ANSP 9995,fibula,Dryptosaurus aquilunguis,Saurischia,Avetheropoda,NO_FAMILY_SPECIFIED,Dryptosaurus,-75.160278,39.732777,US,New Jersey
1,18593,ANSP 9995,tibia,Dryptosaurus aquilunguis,Saurischia,Avetheropoda,NO_FAMILY_SPECIFIED,Dryptosaurus,-75.160278,39.732777,US,New Jersey
2,18594,AMNH 587,fibula,Tanycolagreus topwilsoni,Saurischia,Avetheropoda,NO_FAMILY_SPECIFIED,Tanycolagreus,-106.048615,42.017776,US,Wyoming
3,18595,AMNH 587,tibia,Tanycolagreus topwilsoni,Saurischia,Avetheropoda,NO_FAMILY_SPECIFIED,Tanycolagreus,-106.048615,42.017776,US,Wyoming
4,18596,AMNH 587,fibula,Tanycolagreus topwilsoni,Saurischia,Avetheropoda,NO_FAMILY_SPECIFIED,Tanycolagreus,-106.048615,42.017776,US,Wyoming
...,...,...,...,...,...,...,...,...,...,...,...,...
480,97680,FMNH 7163,femur,Brontosaurus excelsus,Saurischia,NO_ORDER_SPECIFIED,Diplodocidae,Brontosaurus,-108.728699,39.128502,US,Colorado
481,142608,UMNH 5278,humerus,Ceratosaurus nasicornis,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Ceratosaurus,-110.687622,39.323990,US,Utah
482,142609,UMNH 5278,femur,Ceratosaurus nasicornis,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Ceratosaurus,-110.687622,39.323990,US,Utah
483,142610,UMNH 5278,tibia,Ceratosaurus nasicornis,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Ceratosaurus,-110.687622,39.323990,US,Utah
484,142611,UMNH 5278,fibula,Ceratosaurus nasicornis,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Ceratosaurus,-110.687622,39.323990,US,Utah

In [7]:
# Rename columns
dino_df = dino_df.rename(columns={'accepted_name': 'specimen_name', 'cc': 'country', 'class': 'specimen_class', 'order': 'specimen_order', 'family': 'specimen_family', 'genus': 'specimen_genus'})

In [8]:
# Show all unique names in row
dino_df['specimen_part'].unique()

array(['fibula', 'tibia', 'femur', 'ulna', 'radius', 'humerus', 'scapula',
       'coracoid', 'ilium', 'ischium', 'pubis', 'metatarsus', 'skull',
       'scapulacoracoid', 'fibual', 'scapulocoracoid', '? ulna'],
      dtype=object)

In [9]:
# Show all unique names in row
dino_df['specimen_name'].unique()

array(['Dryptosaurus aquilunguis', 'Tanycolagreus topwilsoni',
       'Tyrannosaurus rex', 'Microvenator celer', 'Hadrosaurus foulkii',
       'Anatotitan copei', 'Acrocanthosaurus atokensis',
       'Thescelosaurus neglectus', 'Leptoceratops gracilis',
       'Montanoceratops cerorhynchus', 'Stegosaurus stenops',
       'Avaceratops lammersi', 'Bistahieversor sealeyi',
       'Troodon formosus', 'Allosaurus fragilis', 'Diplodocus longus',
       'Diplodocus carnegii', 'Brontosaurus excelsus',
       'Edmontosaurus annectens', 'Titanoceratops ouranos',
       'Sonorasaurus thompsoni', 'Cerasinops hodgskissi',
       'Triceratops horridus', 'Camarasaurus grandis',
       'Camarasaurus supremus', 'Camptosaurus dispar',
       'Stegosaurus ungulatus', 'Dryosaurus altus', 'Brontosaurus parvus',
       'Torosaurus utahensis', 'Parasaurolophus cyrtocristatus',
       'Avisaurus archibaldi', 'Alamosaurus sanjuanensis',
       'Orodromeus makelai', 'Nanosaurus agilis', 'Bambiraptor feinbergi',
       'Ceratosaurus nasicornis', 'Ornitholestes hermanni',
       'Brachiosaurus altithorax', 'Animantarx ramaljonesi',
       'Dystrophaeus viaemalae', 'Gryposaurus notabilis',
       'Amphicoelias brontodiplodocus', 'Corythosaurus casuarius',
       'Tenontosaurus dossi', 'Deinonychus antirrhopus',
       'Ankylosaurus magniventris', 'Sauropelta edwardsorum',
       'Aletopelta coombsi', 'Monoclonius crassus', 'Barosaurus lentus',
       'Galeamopus hayi', 'Sauroposeidon proteles',
       'Amphicoelias emilieae', 'Tawa hallae', 'Gojirasaurus quayi',
       'Podokesaurus holyokensis', 'Segisaurus halli', 'Coelurus agilis',
       'Appalachiosaurus montgomeriensis', 'Falcarius utahensis',
       'Nothronychus mckinleyi', 'Nothronychus graffami',
       'Saurornitholestes langstoni', 'Utahraptor ostrommaysi',
       'Talos sampsoni', 'Venenosaurus dicrocei', 'Supersaurus vivianae',
       'Haplocanthosaurus priscus', 'Apatosaurus ajax',
       'Diabloceratops eatoni', 'Cedarpelta bilbeyhallorum',
       'Gastonia burgei', 'Niobrarasaurus coleii',
       'Propanoplosaurus marylandicus', 'Peloroplites cedrimontanus',
       'Pawpawsaurus campbelli', 'Silvisaurus condrayi',
       'Dryosaurus elderae', 'Oryctodromeus cubicularis',
       'Hippodraco scutodens', 'Iguanacolossus fortis',
       'Planicoxa venenica', 'Protohadros byrdi',
       'Gryposaurus monumentensis', 'Gryposaurus latidens'], dtype=object)

In [10]:
#Show all unique names in row
dino_df['specimen_class'].unique()

array(['Saurischia', 'Ornithischia', 'Aves'], dtype=object)

In [11]:
#Show all unique names in row
dino_df['specimen_order'].unique()

array(['Avetheropoda', 'NO_ORDER_SPECIFIED'], dtype=object)

In [12]:
#Show all unique names in row 
dino_df['specimen_family'].unique()

array(['NO_FAMILY_SPECIFIED', 'Tyrannosauridae', 'Caenagnathidae',
       'Hadrosauridae', 'Carcharodontosauridae', 'Leptoceratopsidae',
       'Stegosauridae', 'Ceratopsidae', 'Troodontidae', 'Allosauridae',
       'Diplodocidae', 'Brachiosauridae', 'Camarasauridae',
       'Dryosauridae', 'Avisauridae', 'Dromaeosauridae',
       'Compsognathidae', 'Nodosauridae', 'Ankylosauridae',
       'Dicraeosauridae', 'Coelophysidae', 'Therizinosauridae',
       'Polacanthidae'], dtype=object)

In [13]:
# Delete ? from 'ulna' part in one row
dino_df['specimen_part'] = dino_df['specimen_part'].replace({'? ulna': 'ulna'})
dino_df['specimen_part'].unique()

array(['fibula', 'tibia', 'femur', 'ulna', 'radius', 'humerus', 'scapula',
       'coracoid', 'ilium', 'ischium', 'pubis', 'metatarsus', 'skull',
       'scapulacoracoid', 'fibual', 'scapulocoracoid'], dtype=object)

In [14]:
# Rename not specified rows
dino_df['specimen_order'] = dino_df['specimen_order'].replace({'NO_ORDER_SPECIFIED': 'not specified'})
dino_df['specimen_order'].unique()

array(['Avetheropoda', 'not specified'], dtype=object)

In [15]:
# Rename not specified rows
dino_df['specimen_family'] = dino_df['specimen_family'].replace({'NO_FAMILY_SPECIFIED': 'not specified'})
dino_df['specimen_family'].unique()

array(['not specified', 'Tyrannosauridae', 'Caenagnathidae',
       'Hadrosauridae', 'Carcharodontosauridae', 'Leptoceratopsidae',
       'Stegosauridae', 'Ceratopsidae', 'Troodontidae', 'Allosauridae',
       'Diplodocidae', 'Brachiosauridae', 'Camarasauridae',
       'Dryosauridae', 'Avisauridae', 'Dromaeosauridae',
       'Compsognathidae', 'Nodosauridae', 'Ankylosauridae',
       'Dicraeosauridae', 'Coelophysidae', 'Therizinosauridae',
       'Polacanthidae'], dtype=object)

In [16]:
# Checking data types to create a database according to that
dino_df.dtypes

specimen_no          int64
specimen_id         object
specimen_part       object
specimen_name       object
specimen_class      object
specimen_order      object
specimen_family     object
specimen_genus      object
lng                float64
lat                float64
country             object
state               object
dtype: object

In [17]:
# Checking unique numbers to use it as a primary key for database
dino_df['specimen_no'].nunique()

455

In [18]:
# Creating connection with database, run it only after creating database in sql
from sqlalchemy import create_engine

In [20]:
# import info from config document
from config import user, password, host, port

SyntaxError: invalid character in identifier (config.py, line 1)

In [ ]:
# connecting to database
db = 'dino_db'
rds_connection_string = f"{user}:{password}@{host}:{port}/{db}"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# looking at tables in db
engine.table_names()

In [ ]:
# loading df to db
dino_df.to_sql(name='dinosaur_fossils', con=engine, if_exists='append', index=False)

In [ ]:
# reading loaded db
pd.read_sql_query('select * from dinosaur_fossils', con=engine).head()